          * {
            margin: 0;
            padding: 0;
          }

          /*css for gradient border section*/
          .module-border-wrap {
            border-radius: 5px;
            position: relative;
            background:linear-gradient(to right, #9933ff, #3399ff, #9933ff);
            padding: 5px;

          }
          .module {
            background:black;
            color: white;
            padding: 2rem;
          }
          .text {
            background:linear-gradient(to  right, #9933ff 0%, #3399ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family:'Righteous', cursive;

          }
          .textbluefont {
            background: #3399ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family:'Righteous', cursive;

          }
          .textblue{
            background: #3399ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

          }
          
          .text1 {
            background:linear-gradient(to left, #9933ff 0%, #3399ff 100%);;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family:'Righteous', cursive;

          }
          .text0 {
            background: linear-gradient(to left, #9933ff 0%, #3399ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

          }

          .grad{
           background:linear-gradient(to left, #9933ff 0%, #3399ff 100%);

         }
         .grad1{
          background:linear-gradient(to top left, #9933ff 0%, #3399ff 100%);
        }
        .responsive {
          min-height: 100%;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
        .navfont{
         font-family:'Righteous', cursive;
       }
       .navfont:hover{
        color: #3399ff;
      }

      @viewport {
        width: device-width ;
        zoom: 1.0 ;
      }
      /* code that is here, until the first @media block, will apply to any screen size */
      #somethingorother {
        width: 800px ;
      }


      @media screen and (min-width: 576px) {
        /* comes into effect for screens less than or equal to 320 pixels */
        h1,h2,h3,h4,h5,h6{
          font-family: 'Monoton', cursive;

        }
        body{
          font-family: 'Slabo 27px', serif;
          font-size: 18px;
        }
        nav{
          font-family: 'Slabo 27px', serif;
          font-size: 14px;
        }
        .about_content{
          text-align: left;
        }


      }
      @media screen and (min-width: 768px) {
        .responsive {
          min-height: 100%;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
        .about_content{

        }

      }
      @media screen and (min-width: 992px) {


      }
      @media screen and (min-width: 1200px) {
       

      }



      /* css for events/modals*/

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        opacity: 1;
      }

      .container {
        position:relative;
        width:100%;
        text-align: center;
        color: black;
      }


      .box{
        width:80%;
        background: black;
        opacity: 0.9;
        border-radius: 5px;
        height: auto;
        color:white;
        padding-left: 5px;
        margin-left: 10%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 10px;
        border-left: 5px solid black;
        left: auto;
        text-align: left;
      }

      div.box:hover{
        border:none;
        box-shadow: 1px 1px 1px 1px #888888;

      }

      .contact{
        margin-bottom: 20px;
        background-color: black;
        width: auto;
        display: inline-block;
        border-radius: 5px;
        padding: 20px;
        color: white;
      }
      div.contact:hover{
        border:none;
        box-shadow: 1px 1px 1px 1px #888888;
      }
      .register{
        border:none;
        padding: 20px;
        color: white;
        border-radius: 5px;
        background: black;
      }
      .register:hover{
        box-shadow: 1px 1px 1px 1px #888888;
      }
      .description{
        color:white;
        
      }

      .modalin{

        align-content: center;
        margin-bottom: 30px;
        z-index: 100001 !important;
        color: white;
        background:  linear-gradient(to left, #9933ff 0%, #3399ff 100%);
        padding-left: 5%;
        padding-right: 5%;
      }

      .modalout{
        z-index: 100000 !important;
        opacity: 0.8;

      }
      .events{
       box-shadow: 3px 3px 25px 2px black;
     }
     .events:hover{
      box-shadow: none;
    }